BackupN8NFlows
{
  "updatedAt": "2026-01-20T09:42:19.247Z",
  "createdAt": "2026-01-12T13:59:20.501Z",
  "id": "2nT1ZeRpyPoVSb7eQIWhz",
  "name": "BackupN8NFlows",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "612135ed-7ea6-4c19-8da8-8e895b362634",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        576,
        0
      ],
      "id": "af0577c0-e503-433b-a3ad-66d1b90419e8",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "Ni19gIV2gsCxe7cf",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        0
      ],
      "id": "ffd7ccf4-dbfe-4cd0-b80a-2e608821330e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7922f527-1c8c-496a-a10e-6deabe9d2861",
              "name": "node",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "f19a2bbe-b94b-4bda-a362-086e0e0fd46d",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        80
      ],
      "id": "d5bb3c45-e9f9-48ec-a90d-9f071ff190b0",
      "name": "Prepare Fields"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "node",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1456,
        80
      ],
      "id": "96ef4b30-d4c7-4b68-94e6-80f907c676de",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Items').item.json.name + \".json\" }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('create new folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "f668fe22-0342-469b-9a17-aaa53368de59",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1712,
        80
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bbagczN7AdcWLu9a",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Workflow Backups {{ $now.format('cccc t dd-MM-yyyy') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1pMgGDs8l8Hm40XMrcBPobEuHPPU4AAjp",
          "mode": "list",
          "cachedResultName": "n8ndoc",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pMgGDs8l8Hm40XMrcBPobEuHPPU4AAjp"
        },
        "options": {}
      },
      "id": "10dd4d97-7ae1-4859-9f37-39355c6fee57",
      "name": "create new folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        304,
        0
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bbagczN7AdcWLu9a",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mihir@ninegravity.com",
        "subject": "N8N Workflow Backup",
        "emailType": "text",
        "message": "=# N8N Workflow Backup - {{ $('create new folder').item.json.name }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n*Automatically generated by N8N Backup Workflow*\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1440,
        -112
      ],
      "id": "11496adf-8665-47ee-929a-e1f5fda9cee5",
      "name": "Send a message",
      "webhookId": "f21b0559-f652-4f92-ae13-e4d0c09382ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "0MdYh6ALt0icwZTc",
          "name": "Gmail account - Mihir DevOps"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1168,
        -112
      ],
      "id": "4eb2cbb7-f7e2-40ac-810b-15b5083ae0c1",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "create new folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "create new folder": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0ff02052-aef8-4d96-8b24-f12eb945f658",
  "activeVersionId": "150a37ac-c17a-479c-9fac-c5d6b33a1d49",
  "versionCounter": 16,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-12T13:59:20.508Z",
      "createdAt": "2026-01-12T13:59:20.508Z",
      "role": "workflow:owner",
      "workflowId": "2nT1ZeRpyPoVSb7eQIWhz",
      "projectId": "aDl9WwKN0ta9uBVo",
      "project": {
        "updatedAt": "2026-01-12T11:51:24.516Z",
        "createdAt": "2026-01-12T11:51:06.144Z",
        "id": "aDl9WwKN0ta9uBVo",
        "name": "Owner Owner <admin@vmi2632825.contaboserver.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6",
        "projectRelations": [
          {
            "updatedAt": "2026-01-12T11:51:06.144Z",
            "createdAt": "2026-01-12T11:51:06.144Z",
            "userId": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6",
            "projectId": "aDl9WwKN0ta9uBVo",
            "user": {
              "updatedAt": "2026-01-20T05:00:53.000Z",
              "createdAt": "2026-01-12T11:51:05.224Z",
              "id": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6",
              "email": "admin@vmi2632825.contaboserver.net",
              "firstName": "Owner",
              "lastName": "Owner",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-12T11:59:17.141Z",
                "personalization_survey_n8n_version": "2.2.6",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration",
                  "ci-cd",
                  "data-syncing",
                  "incident-response",
                  "monitoring-alerting",
                  "reporting",
                  "ticketing-systems-integrations"
                ],
                "companyType": "saas",
                "role": "devops"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "nYPf4T1dFw_BwSQbc0GME",
                "userActivatedAt": 1768222892386,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768571009887
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-12T12:42:56.579Z",
      "createdAt": "2026-01-12T12:42:56.579Z",
      "id": "kCtEVGL0Y2rP29Fo",
      "name": "By: Mihir"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-16T14:03:58.000Z",
    "createdAt": "2026-01-16T14:02:58.475Z",
    "versionId": "150a37ac-c17a-479c-9fac-c5d6b33a1d49",
    "workflowId": "2nT1ZeRpyPoVSb7eQIWhz",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "612135ed-7ea6-4c19-8da8-8e895b362634",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          496,
          0
        ],
        "id": "af0577c0-e503-433b-a3ad-66d1b90419e8",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "Ni19gIV2gsCxe7cf",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          768,
          0
        ],
        "id": "ffd7ccf4-dbfe-4cd0-b80a-2e608821330e",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7922f527-1c8c-496a-a10e-6deabe9d2861",
                "name": "node",
                "value": "={{ JSON.stringify($json, null, 2) }}",
                "type": "string"
              },
              {
                "id": "f19a2bbe-b94b-4bda-a362-086e0e0fd46d",
                "name": "fileName",
                "value": "={{ $json.name }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1056,
          80
        ],
        "id": "d5bb3c45-e9f9-48ec-a90d-9f071ff190b0",
        "name": "Prepare Fields"
      },
      {
        "parameters": {
          "operation": "toText",
          "sourceProperty": "node",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1312,
          80
        ],
        "id": "96ef4b30-d4c7-4b68-94e6-80f907c676de",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "name": "={{ $('Loop Over Items').item.json.name + \".json\" }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $('create new folder').item.json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "id": "f668fe22-0342-469b-9a17-aaa53368de59",
        "name": "Google Drive",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          1552,
          80
        ],
        "typeVersion": 3,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "bbagczN7AdcWLu9a",
            "name": "Google Drive account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=Workflow Backups {{ $now.format('cccc t dd-MM-yyyy') }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1pMgGDs8l8Hm40XMrcBPobEuHPPU4AAjp",
            "mode": "list",
            "cachedResultName": "n8ndoc",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1pMgGDs8l8Hm40XMrcBPobEuHPPU4AAjp"
          },
          "options": {}
        },
        "id": "10dd4d97-7ae1-4859-9f37-39355c6fee57",
        "name": "create new folder",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          224,
          0
        ],
        "typeVersion": 3,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "bbagczN7AdcWLu9a",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "mihir@ninegravity.com",
          "subject": "N8N Workflow Backup",
          "emailType": "text",
          "message": "=# N8N Workflow Backup - {{ $('create new folder').item.json.name }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n*Automatically generated by N8N Backup Workflow*\n",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1296,
          -112
        ],
        "id": "11496adf-8665-47ee-929a-e1f5fda9cee5",
        "name": "Send a message",
        "webhookId": "f21b0559-f652-4f92-ae13-e4d0c09382ab",
        "credentials": {
          "gmailOAuth2": {
            "id": "0MdYh6ALt0icwZTc",
            "name": "Gmail account - Mihir DevOps"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1040,
          -112
        ],
        "id": "4eb2cbb7-f7e2-40ac-810b-15b5083ae0c1",
        "name": "Aggregate"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "create new folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Fields": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "create new folder": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Owner Owner",
    "name": "Version 150a37ac",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-16T14:03:58.961Z",
        "id": 10,
        "workflowId": "2nT1ZeRpyPoVSb7eQIWhz",
        "versionId": "150a37ac-c17a-479c-9fac-c5d6b33a1d49",
        "event": "activated",
        "userId": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6"
      }
    ]
  }
}