Backup & Restore N8N workflows (Github and Google Drive)
{
  "updatedAt": "2026-01-20T13:47:14.862Z",
  "createdAt": "2026-01-20T12:52:10.327Z",
  "id": "ROBIpiepkriYfaghRYEeA",
  "name": "Backup & Restore N8N workflows (Github and Google Drive)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2832,
        832
      ],
      "id": "5924ad7e-da70-4ed2-9dfe-115f206cebfb",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2640,
        736
      ],
      "id": "cb37ceb4-2744-4140-8ca5-0133c5d9f85e",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "Ni19gIV2gsCxe7cf",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8195660-b59a-440c-8114-ff6377a536b0",
              "leftValue": "={{ $json['N8N Url'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1648,
        752
      ],
      "id": "b303c78b-2f36-436c-b26d-2e1fbb027efb",
      "name": "Exist or not in Sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23044feb-1e63-4888-994c-f2a2248551fc",
              "leftValue": "={{ $json['Last modified'] }}",
              "rightValue": "={{ $('n8n').item.json.updatedAt }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1456,
        512
      ],
      "id": "98e46c21-95a4-4a01-906d-f4b4b8d3be14",
      "name": "updated or not"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1456,
        976
      ],
      "id": "520cd2c6-bb46-4745-9ac2-12aa26933acc",
      "name": "n8n1",
      "credentials": {
        "n8nApi": {
          "id": "Ni19gIV2gsCxe7cf",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('updated or not').item.json['N8N Url'] }}",
          "mode": "url"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1040,
        608
      ],
      "id": "2911e7c4-4588-4f3c-9c7f-c7c31700f143",
      "name": "n8n2",
      "credentials": {
        "n8nApi": {
          "id": "Ni19gIV2gsCxe7cf",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2112,
        752
      ],
      "id": "f0ba2e84-86c5-4ea5-88f0-7430b787b0f0",
      "name": "Wait",
      "webhookId": "4e6da3b8-0f5e-418c-9d2d-12d53e17bbcf"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2832,
        656
      ],
      "id": "972c4908-1b1a-424f-b1cf-49d51467bb1f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34775986-2867-4e53-b4b3-f6392d652107",
              "name": "github",
              "value": "={{ $json.content.html_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        848
      ],
      "id": "0e1ed3ac-c5fa-47ee-b17b-96c3b3c2757b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b187d35a-9ae3-46c9-bb08-bd3e07d9d0b8",
              "name": "drive_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "09e140c2-9de6-4ede-b9e0-15689f941e1f",
              "name": "createdAt",
              "value": "={{ $('Code1').item.json.createdAt }}",
              "type": "string"
            },
            {
              "id": "eb108deb-01c6-4d70-9448-c093867d42f1",
              "name": "updatedAt",
              "value": "={{ $('Code1').item.json.updatedAt }}",
              "type": "string"
            },
            {
              "id": "5dffcc1f-5136-4ae0-826b-b8d73dc56e18",
              "name": "n8n_id",
              "value": "={{ $('Code1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e76b5251-6955-4f7a-a986-35dae2912e2e",
              "name": "name",
              "value": "={{ $('Code1').item.json.name }}",
              "type": "string"
            },
            {
              "id": "c537c5d0-8d23-41a9-975b-81296ac030a6",
              "name": "tag",
              "value": "={{ $('Code1').item.json.shared[0].project.projectRelations[0].user.personalizationAnswers.reportedSource }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        1104
      ],
      "id": "b5ce141b-47ab-4f0e-8366-c690f53c9883",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -592,
        960
      ],
      "id": "1dd72a4c-65d6-4a7b-b7d9-85728dc9c283",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7c6c7d4-ac5d-4964-9a33-d792393ef210",
              "name": "github",
              "value": "={{ $json.data[0].github }}",
              "type": "string"
            },
            {
              "id": "b2c60222-d8ef-4753-b4a6-97ee1d55b6ab",
              "name": "data[1].drive_id",
              "value": "={{ $json.data[1].drive_id }}",
              "type": "string"
            },
            {
              "id": "1c699d7d-6c69-4b92-a664-084513dfc879",
              "name": "data[1].createdAt",
              "value": "={{ $json.data[1].createdAt }}",
              "type": "string"
            },
            {
              "id": "69b38d9f-7ddd-40ef-a391-ce44cb480055",
              "name": "data[1].updatedAt",
              "value": "={{ $json.data[1].updatedAt }}",
              "type": "string"
            },
            {
              "id": "6000cea5-f98c-4d75-9d38-e09d104bafb2",
              "name": "data[1].n8n_id",
              "value": "={{ $json.data[1].n8n_id }}",
              "type": "string"
            },
            {
              "id": "f7d93c15-f265-4ce5-96ff-1bdc1818c166",
              "name": "data[1].name",
              "value": "={{ $json.data[1].name }}",
              "type": "string"
            },
            {
              "id": "09d3b016-c290-4b09-aba1-5f6db4fd61a7",
              "name": "data[1].tag",
              "value": "={{ $json.data[1].tag }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        960
      ],
      "id": "f3ab1578-a103-4609-91e4-54400c2c2e68",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -400,
        960
      ],
      "id": "6a2e539a-9114-4fe3-a75c-1bea072b9ff9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A",
          "mode": "list",
          "cachedResultName": "PostSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 983387873,
          "mode": "list",
          "cachedResultName": "Sheet5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit#gid=983387873"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Title",
              "lookupValue": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1888,
        752
      ],
      "id": "458d1dbd-f0a4-4f30-8e1e-7e567f4fa77b",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YYPCAHBhJe0nF26q",
          "name": "Google Sheets account - Mihir DevOps"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=devopsninegravity",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "openhanddemo",
          "mode": "list",
          "cachedResultName": "openhanddemo",
          "cachedResultUrl": "https://github.com/devopsninegravity/openhanddemo"
        },
        "filePath": "={{ $('n8n1').item.json.name }}",
        "binaryData": true,
        "commitMessage": "first commit"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1040,
        848
      ],
      "id": "a3febca6-6a94-4031-9f4e-5e135201a87e",
      "name": "Create a file",
      "webhookId": "16e5f2e5-4072-4f0a-b013-a1d2b5e9b390",
      "credentials": {
        "githubOAuth2Api": {
          "id": "UBeco89wUIGWsGWR",
          "name": "GitHub account - DevOps"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Eckka6hOmsOfimmA0tlKWCgZr5qwaTFt",
          "mode": "list",
          "cachedResultName": "Backupn8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Eckka6hOmsOfimmA0tlKWCgZr5qwaTFt"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1040,
        1104
      ],
      "id": "0ff1c414-342d-4a62-9419-73a403b89456",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bbagczN7AdcWLu9a",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('n8n2').item.json.name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Eckka6hOmsOfimmA0tlKWCgZr5qwaTFt",
          "mode": "list",
          "cachedResultName": "Backupn8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Eckka6hOmsOfimmA0tlKWCgZr5qwaTFt"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -592,
        704
      ],
      "id": "603bb207-3d49-4c38-891c-5f1cb5b4a942",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bbagczN7AdcWLu9a",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "devopsninegravity",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "openhanddemo",
          "mode": "list",
          "cachedResultName": "openhanddemo",
          "cachedResultUrl": "https://github.com/devopsninegravity/openhanddemo"
        },
        "filePath": "={{ $('n8n2').first().json.name }}",
        "binaryData": true,
        "commitMessage": "Change commit by Peter"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -592,
        528
      ],
      "id": "fe67decc-9bf3-4c17-b57a-958398f0bc93",
      "name": "Edit a file",
      "webhookId": "6d34e561-d4d8-45ad-bad5-b38b775c223d",
      "credentials": {
        "githubOAuth2Api": {
          "id": "UBeco89wUIGWsGWR",
          "name": "GitHub account - DevOps"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A",
          "mode": "list",
          "cachedResultName": "PostSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 983387873,
          "mode": "list",
          "cachedResultName": "Sheet5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit#gid=983387873"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('n8n2').item.json.name }}",
            "Last modified": "={{ $('n8n2').item.json.updatedAt }}",
            "Shared Url": "=https://drive.google.com/file/d/{{ $json.id }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last modified",
              "displayName": "Last modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N Url",
              "displayName": "N8N Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Github Url",
              "displayName": "Github Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shared Url",
              "displayName": "Shared Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -208,
        704
      ],
      "id": "1178ee12-fac1-499f-ad65-1d09dec1f499",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YYPCAHBhJe0nF26q",
          "name": "Google Sheets account - Mihir DevOps"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A",
          "mode": "list",
          "cachedResultName": "PostSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 983387873,
          "mode": "list",
          "cachedResultName": "Sheet5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit#gid=983387873"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.data[1].name }}",
            "Date Created": "={{ $json.data[1].createdAt }}",
            "Last modified": "={{ $json.data[1].updatedAt }}",
            "N8N Url": "=https://workflows.zeriobox.com/workflow/{{ $json.data[1].n8n_id }}",
            "Tag": "={{ $('n8n1').item.json.tags[0].name }}",
            "Github Url": "={{ $json.github }}",
            "Shared Url": "=https://drive.google.com/file/d/{{ $json.data[1].drive_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last modified",
              "displayName": "Last modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N Url",
              "displayName": "N8N Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Github Url",
              "displayName": "Github Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shared Url",
              "displayName": "Shared Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -16,
        960
      ],
      "id": "0368bc21-d49d-4ac1-a803-b9453554ed61",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YYPCAHBhJe0nF26q",
          "name": "Google Sheets account - Mihir DevOps"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2384,
        736
      ],
      "id": "f04d7d24-4cf6-495a-b1cc-e7894206f2a8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -400,
        704
      ],
      "id": "b95c2cae-9083-4c89-83fe-950d8760209a",
      "name": "Wait1",
      "webhookId": "801c9260-f7a8-4b73-afba-6a8c61e280a1"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['Shared Url'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1248,
        608
      ],
      "id": "cb1920b4-6f09-45ca-a35f-636a347250dc",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bbagczN7AdcWLu9a",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"
      },
      "id": "ddae51a6-9fb6-48ff-b1aa-9f825c25ddd6",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "position": [
        -832,
        528
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"
      },
      "id": "cbe364de-9f45-4d35-b45a-2498ac4f5761",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        -832,
        704
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"
      },
      "id": "0fb29b48-6bc4-43d9-b97e-14f606fafa8b",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "position": [
        -1248,
        848
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"
      },
      "id": "784cbe11-5ba9-4f82-bc5c-4bac613be722",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        -1248,
        1104
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d25bc78-5383-43fc-997a-6f110714385f",
              "name": "ok",
              "value": "okay",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "dbbe62c7-b6d4-4c6d-9c20-b0754c016ddb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "mihir@ninegravity.com",
        "subject": "N8N Backup Completed",
        "emailType": "text",
        "message": "=# N8N Workflow Backup \n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n*Automatically generated by N8N Backup Workflow*\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1888,
        544
      ],
      "id": "fdc9a138-2e79-4134-99af-4bb4ed84f4e8",
      "name": "Send a message",
      "webhookId": "281b34b8-19a0-4f8e-8ade-0046bb7e682c",
      "credentials": {
        "gmailOAuth2": {
          "id": "LK57ok8sJ95Xx2SA",
          "name": "Gmail account Shyam"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2112,
        544
      ],
      "id": "b041d7fd-2044-445b-a173-6fa194c668d5",
      "name": "Aggregate1"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exist or not in Sheet": {
      "main": [
        [
          {
            "node": "updated or not",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "n8n1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updated or not": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n1": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Exist or not in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "n8n2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3512031f-5ffd-4913-9b80-7bf8cfa61dea",
  "activeVersionId": "2808f486-4fee-49cb-be4b-4a8fc87676dd",
  "versionCounter": 16,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-20T12:52:10.343Z",
      "createdAt": "2026-01-20T12:52:10.343Z",
      "role": "workflow:owner",
      "workflowId": "ROBIpiepkriYfaghRYEeA",
      "projectId": "aDl9WwKN0ta9uBVo",
      "project": {
        "updatedAt": "2026-01-12T11:51:24.516Z",
        "createdAt": "2026-01-12T11:51:06.144Z",
        "id": "aDl9WwKN0ta9uBVo",
        "name": "Owner Owner <admin@vmi2632825.contaboserver.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6",
        "projectRelations": [
          {
            "updatedAt": "2026-01-12T11:51:06.144Z",
            "createdAt": "2026-01-12T11:51:06.144Z",
            "userId": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6",
            "projectId": "aDl9WwKN0ta9uBVo",
            "user": {
              "updatedAt": "2026-01-20T05:00:53.000Z",
              "createdAt": "2026-01-12T11:51:05.224Z",
              "id": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6",
              "email": "admin@vmi2632825.contaboserver.net",
              "firstName": "Owner",
              "lastName": "Owner",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-12T11:59:17.141Z",
                "personalization_survey_n8n_version": "2.2.6",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration",
                  "ci-cd",
                  "data-syncing",
                  "incident-response",
                  "monitoring-alerting",
                  "reporting",
                  "ticketing-systems-integrations"
                ],
                "companyType": "saas",
                "role": "devops"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "nYPf4T1dFw_BwSQbc0GME",
                "userActivatedAt": 1768222892386,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768571009887
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-12T12:42:56.579Z",
      "createdAt": "2026-01-12T12:42:56.579Z",
      "id": "kCtEVGL0Y2rP29Fo",
      "name": "By: Mihir"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-20T13:45:07.000Z",
    "createdAt": "2026-01-20T13:45:04.185Z",
    "versionId": "2808f486-4fee-49cb-be4b-4a8fc87676dd",
    "workflowId": "ROBIpiepkriYfaghRYEeA",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2832,
          832
        ],
        "id": "5924ad7e-da70-4ed2-9dfe-115f206cebfb",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -2640,
          736
        ],
        "id": "cb37ceb4-2744-4140-8ca5-0133c5d9f85e",
        "name": "n8n",
        "credentials": {
          "n8nApi": {
            "id": "Ni19gIV2gsCxe7cf",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a8195660-b59a-440c-8114-ff6377a536b0",
                "leftValue": "={{ $json['N8N Url'] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1856,
          752
        ],
        "id": "b303c78b-2f36-436c-b26d-2e1fbb027efb",
        "name": "Exist or not in Sheet"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "23044feb-1e63-4888-994c-f2a2248551fc",
                "leftValue": "={{ $json['Last modified'] }}",
                "rightValue": "={{ $('n8n').item.json.updatedAt }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1664,
          512
        ],
        "id": "98e46c21-95a4-4a01-906d-f4b4b8d3be14",
        "name": "updated or not"
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $('Loop Over Items').item.json.id }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -1664,
          976
        ],
        "id": "520cd2c6-bb46-4745-9ac2-12aa26933acc",
        "name": "n8n1",
        "credentials": {
          "n8nApi": {
            "id": "Ni19gIV2gsCxe7cf",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $('updated or not').item.json['N8N Url'] }}",
            "mode": "url"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -1248,
          608
        ],
        "id": "2911e7c4-4588-4f3c-9c7f-c7c31700f143",
        "name": "n8n2",
        "credentials": {
          "n8nApi": {
            "id": "Ni19gIV2gsCxe7cf",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -2224,
          752
        ],
        "id": "f0ba2e84-86c5-4ea5-88f0-7430b787b0f0",
        "name": "Wait",
        "webhookId": "4e6da3b8-0f5e-418c-9d2d-12d53e17bbcf"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 11
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -2832,
          656
        ],
        "id": "972c4908-1b1a-424f-b1cf-49d51467bb1f",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "34775986-2867-4e53-b4b3-f6392d652107",
                "name": "github",
                "value": "={{ $json.content.html_url }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1040,
          848
        ],
        "id": "0e1ed3ac-c5fa-47ee-b17b-96c3b3c2757b",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b187d35a-9ae3-46c9-bb08-bd3e07d9d0b8",
                "name": "drive_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "09e140c2-9de6-4ede-b9e0-15689f941e1f",
                "name": "createdAt",
                "value": "={{ $('Code1').item.json.createdAt }}",
                "type": "string"
              },
              {
                "id": "eb108deb-01c6-4d70-9448-c093867d42f1",
                "name": "updatedAt",
                "value": "={{ $('Code1').item.json.updatedAt }}",
                "type": "string"
              },
              {
                "id": "5dffcc1f-5136-4ae0-826b-b8d73dc56e18",
                "name": "n8n_id",
                "value": "={{ $('Code1').item.json.id }}",
                "type": "string"
              },
              {
                "id": "e76b5251-6955-4f7a-a986-35dae2912e2e",
                "name": "name",
                "value": "={{ $('Code1').item.json.name }}",
                "type": "string"
              },
              {
                "id": "c537c5d0-8d23-41a9-975b-81296ac030a6",
                "name": "tag",
                "value": "={{ $('Code1').item.json.shared[0].project.projectRelations[0].user.personalizationAnswers.reportedSource }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1040,
          1104
        ],
        "id": "b5ce141b-47ab-4f0e-8366-c690f53c9883",
        "name": "Edit Fields2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -800,
          960
        ],
        "id": "1dd72a4c-65d6-4a7b-b7d9-85728dc9c283",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b7c6c7d4-ac5d-4964-9a33-d792393ef210",
                "name": "github",
                "value": "={{ $json.data[0].github }}",
                "type": "string"
              },
              {
                "id": "b2c60222-d8ef-4753-b4a6-97ee1d55b6ab",
                "name": "data[1].drive_id",
                "value": "={{ $json.data[1].drive_id }}",
                "type": "string"
              },
              {
                "id": "1c699d7d-6c69-4b92-a664-084513dfc879",
                "name": "data[1].createdAt",
                "value": "={{ $json.data[1].createdAt }}",
                "type": "string"
              },
              {
                "id": "69b38d9f-7ddd-40ef-a391-ce44cb480055",
                "name": "data[1].updatedAt",
                "value": "={{ $json.data[1].updatedAt }}",
                "type": "string"
              },
              {
                "id": "6000cea5-f98c-4d75-9d38-e09d104bafb2",
                "name": "data[1].n8n_id",
                "value": "={{ $json.data[1].n8n_id }}",
                "type": "string"
              },
              {
                "id": "f7d93c15-f265-4ce5-96ff-1bdc1818c166",
                "name": "data[1].name",
                "value": "={{ $json.data[1].name }}",
                "type": "string"
              },
              {
                "id": "09d3b016-c290-4b09-aba1-5f6db4fd61a7",
                "name": "data[1].tag",
                "value": "={{ $json.data[1].tag }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -416,
          960
        ],
        "id": "f3ab1578-a103-4609-91e4-54400c2c2e68",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -608,
          960
        ],
        "id": "6a2e539a-9114-4fe3-a75c-1bea072b9ff9",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A",
            "mode": "list",
            "cachedResultName": "PostSheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 983387873,
            "mode": "list",
            "cachedResultName": "Sheet5",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit#gid=983387873"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Title",
                "lookupValue": "={{ $json.name }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -2032,
          752
        ],
        "id": "458d1dbd-f0a4-4f30-8e1e-7e567f4fa77b",
        "name": "Get row(s) in sheet",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YYPCAHBhJe0nF26q",
            "name": "Google Sheets account - Mihir DevOps"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "=devopsninegravity",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "openhanddemo",
            "mode": "list",
            "cachedResultName": "openhanddemo",
            "cachedResultUrl": "https://github.com/devopsninegravity/openhanddemo"
          },
          "filePath": "={{ $('n8n1').item.json.name }}",
          "binaryData": true,
          "commitMessage": "first commit"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1248,
          848
        ],
        "id": "a3febca6-6a94-4031-9f4e-5e135201a87e",
        "name": "Create a file",
        "webhookId": "16e5f2e5-4072-4f0a-b013-a1d2b5e9b390",
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBeco89wUIGWsGWR",
            "name": "GitHub account - DevOps"
          }
        }
      },
      {
        "parameters": {
          "name": "={{ $json.name }}",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1Eckka6hOmsOfimmA0tlKWCgZr5qwaTFt",
            "mode": "list",
            "cachedResultName": "Backupn8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Eckka6hOmsOfimmA0tlKWCgZr5qwaTFt"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1248,
          1104
        ],
        "id": "0ff1c414-342d-4a62-9419-73a403b89456",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "bbagczN7AdcWLu9a",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "name": "={{ $('n8n2').item.json.name }}",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1Eckka6hOmsOfimmA0tlKWCgZr5qwaTFt",
            "mode": "list",
            "cachedResultName": "Backupn8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Eckka6hOmsOfimmA0tlKWCgZr5qwaTFt"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -800,
          704
        ],
        "id": "603bb207-3d49-4c38-891c-5f1cb5b4a942",
        "name": "Upload file1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "bbagczN7AdcWLu9a",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "devopsninegravity",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "openhanddemo",
            "mode": "list",
            "cachedResultName": "openhanddemo",
            "cachedResultUrl": "https://github.com/devopsninegravity/openhanddemo"
          },
          "filePath": "={{ $('n8n2').first().json.name }}",
          "binaryData": true,
          "commitMessage": "Change commit by Peter"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -800,
          528
        ],
        "id": "fe67decc-9bf3-4c17-b57a-958398f0bc93",
        "name": "Edit a file",
        "webhookId": "6d34e561-d4d8-45ad-bad5-b38b775c223d",
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBeco89wUIGWsGWR",
            "name": "GitHub account - DevOps"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A",
            "mode": "list",
            "cachedResultName": "PostSheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 983387873,
            "mode": "list",
            "cachedResultName": "Sheet5",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit#gid=983387873"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Title": "={{ $('n8n2').item.json.name }}",
              "Last modified": "={{ $('n8n2').item.json.updatedAt }}",
              "Shared Url": "=https://drive.google.com/file/d/{{ $json.id }}"
            },
            "matchingColumns": [
              "Title"
            ],
            "schema": [
              {
                "id": "Title",
                "displayName": "Title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Tag",
                "displayName": "Tag",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Date Created",
                "displayName": "Date Created",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last modified",
                "displayName": "Last modified",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "N8N Url",
                "displayName": "N8N Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Github Url",
                "displayName": "Github Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Shared Url",
                "displayName": "Shared Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -416,
          704
        ],
        "id": "1178ee12-fac1-499f-ad65-1d09dec1f499",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YYPCAHBhJe0nF26q",
            "name": "Google Sheets account - Mihir DevOps"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A",
            "mode": "list",
            "cachedResultName": "PostSheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 983387873,
            "mode": "list",
            "cachedResultName": "Sheet5",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVBbdvWyfiydQZPgqmqx1a1yLdXu-Q9n358eqdlWV0A/edit#gid=983387873"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Title": "={{ $json.data[1].name }}",
              "Date Created": "={{ $json.data[1].createdAt }}",
              "Last modified": "={{ $json.data[1].updatedAt }}",
              "N8N Url": "=https://workflows.zeriobox.com/workflow/{{ $json.data[1].n8n_id }}",
              "Tag": "={{ $('n8n1').item.json.tags[0].name }}",
              "Github Url": "={{ $json.github }}",
              "Shared Url": "=https://drive.google.com/file/d/{{ $json.data[1].drive_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Title",
                "displayName": "Title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Tag",
                "displayName": "Tag",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Date Created",
                "displayName": "Date Created",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last modified",
                "displayName": "Last modified",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "N8N Url",
                "displayName": "N8N Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Github Url",
                "displayName": "Github Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Shared Url",
                "displayName": "Shared Url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -224,
          960
        ],
        "id": "0368bc21-d49d-4ac1-a803-b9453554ed61",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YYPCAHBhJe0nF26q",
            "name": "Google Sheets account - Mihir DevOps"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -2448,
          736
        ],
        "id": "f04d7d24-4cf6-495a-b1cc-e7894206f2a8",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 0.5
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -608,
          704
        ],
        "id": "b95c2cae-9083-4c89-83fe-950d8760209a",
        "name": "Wait1",
        "webhookId": "801c9260-f7a8-4b73-afba-6a8c61e280a1"
      },
      {
        "parameters": {
          "operation": "deleteFile",
          "fileId": {
            "__rl": true,
            "value": "={{ $json['Shared Url'] }}",
            "mode": "url"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1456,
          608
        ],
        "id": "cb1920b4-6f09-45ca-a35f-636a347250dc",
        "name": "Delete a file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "bbagczN7AdcWLu9a",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"
        },
        "id": "ddae51a6-9fb6-48ff-b1aa-9f825c25ddd6",
        "name": "Code6",
        "type": "n8n-nodes-base.code",
        "position": [
          -1040,
          528
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"
        },
        "id": "cbe364de-9f45-4d35-b45a-2498ac4f5761",
        "name": "Code",
        "type": "n8n-nodes-base.code",
        "position": [
          -1040,
          704
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"
        },
        "id": "0fb29b48-6bc4-43d9-b97e-14f606fafa8b",
        "name": "Code7",
        "type": "n8n-nodes-base.code",
        "position": [
          -1456,
          848
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"
        },
        "id": "784cbe11-5ba9-4f82-bc5c-4bac613be722",
        "name": "Code1",
        "type": "n8n-nodes-base.code",
        "position": [
          -1456,
          1104
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d25bc78-5383-43fc-997a-6f110714385f",
                "name": "ok",
                "value": "okay",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          0
        ],
        "id": "dbbe62c7-b6d4-4c6d-9c20-b0754c016ddb",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "sendTo": "mihir@ninegravity.com",
          "subject": "N8N Backup Completed",
          "emailType": "text",
          "message": "=# N8N Workflow Backup \n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n*Automatically generated by N8N Backup Workflow*\n",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -2224,
          544
        ],
        "id": "fdc9a138-2e79-4134-99af-4bb4ed84f4e8",
        "name": "Send a message",
        "webhookId": "281b34b8-19a0-4f8e-8ade-0046bb7e682c",
        "credentials": {
          "gmailOAuth2": {
            "id": "LK57ok8sJ95Xx2SA",
            "name": "Gmail account Shyam"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Exist or not in Sheet": {
        "main": [
          [
            {
              "node": "updated or not",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "n8n1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "updated or not": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Delete a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n1": {
        "main": [
          [
            {
              "node": "Code7",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n2": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Exist or not in Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a file": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file1": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit a file": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a file": {
        "main": [
          [
            {
              "node": "n8n2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Upload file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code6": {
        "main": [
          [
            {
              "node": "Edit a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code7": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Owner Owner",
    "name": "Version 2808f486",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-20T13:45:07.684Z",
        "id": 13,
        "workflowId": "ROBIpiepkriYfaghRYEeA",
        "versionId": "2808f486-4fee-49cb-be4b-4a8fc87676dd",
        "event": "activated",
        "userId": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6"
      }
    ]
  }
}