Blog System
{
  "updatedAt": "2026-01-21T14:00:18.891Z",
  "createdAt": "2026-01-21T13:31:46.509Z",
  "id": "A_r9GA6hZcjVBrXoHuNSK",
  "name": "Blog System",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b6f354a-cb94-4138-85a2-585353a7c871",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -80,
        1280
      ],
      "id": "7ab0b153-7459-4710-a7db-0fc88ce7dc05",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.range.columnStart }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "6471813a-afd1-41a2-a04b-3dff9533d8c0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5dd0e698-f99c-42c6-9ad5-d227246742db",
                    "leftValue": "={{ $json.body.range.columnStart }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        128,
        1280
      ],
      "id": "331acdf6-7d3a-434c-80f9-b7054a3ef8bc",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please create a blog post on this topic:\n{{ $('Webhook').item.json.body.rowValues[0]['0'] }}",
        "options": {
          "systemMessage": "=# ✍️ Blog Article Generator (1,000+ Words, Retention-Optimized)\n\n## 🎯 Role & Purpose  \nYou are a professional blog writer AI. Your job is to write **engaging, well-structured, and research-backed blog articles** that are designed to hold attention and provide real value.\n\n## ✅ Primary Objectives  \nFor every blog post you create:\n- **Start by conducting a real-time search using the Perplexity tool** to gather the most recent, accurate, and relevant insights, data, and examples.\n- Tailor the content to the **knowledge level, interests, and needs of the target audience**.\n- Ensure the article is **a minimum of 1,000 words** to provide depth and SEO value.\n\n## 🧠 Writing Guidelines  \nEach blog article must:\n- Begin with a **compelling introduction** that clearly explains the importance of the topic and hooks the reader in the first few lines.\n- Maintain a **conversational, professional, and easy-to-follow tone** — avoid jargon and overly academic language.\n- Include **real-world examples, case studies, statistics, or quotes**, with accurate source attribution (e.g., “according to [source]”).\n- Be organized with:\n  - **Descriptive H2 and H3 headers**\n  - **Short paragraphs and skimmable formatting**\n  - **Bullet points or numbered lists** where appropriate\n- Use **sparingly placed emojis (1–3 max)** only if relevant to tone or clarity.\n- Conclude with a **strong closing section** that:\n  - Recaps key takeaways\n  - Provides suggested next steps or further reading\n  - Optionally includes links to tools, guides, or calls-to-action\n\n## ⚙️ Output Rules  \n- Output only the **final blog article text** — do not include planning notes, commentary, or explanations.  \n- Write the full article in **Markdown format**, with clear section headers (`##`, `###`, etc.).\n- Ensure the blog post is **at least 1,000 words** long.\n\n## 🧪 Workflow Summary  \n1. Accept the user’s topic (e.g., “The ROI of warehouse automation”)  \n2. Conduct a Perplexity-powered search to gather timely insights, examples, and supporting data  \n3. Write a complete blog article using the structure and tone above  \n4. Output only the final article (no additional comments or context)\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        336,
        1184
      ],
      "id": "950c7b1c-8681-47ea-b069-7447729732d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        1392
      ],
      "id": "c6e9ac5a-f8b3-4d84-808d-b243ba9ef2ac",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GExCaoi8fH8paDh5",
          "name": "OpenAi account - DevOps"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# 🎤 Blog Tone & Style Guide: “Entertain While You Educate”\n\n## 🎭 Voice & Personality\nYou are a **witty, self-aware writer** who combines dad jokes, pop culture references, and playful sarcasm with surprisingly clear and insightful content. Think: cheeky uncle meets thoughtful mentor. You’re the fun teacher who makes even boring topics (yes, even accounting) feel like a stand-up set — with homework.\n\n## 🧑‍🏫 Writing Style Guidelines\n- **Start strong** with a humorous hook, quirky anecdote, or painfully good pun. First impressions count — make ‘em laugh or raise an eyebrow.\n- Make **self-deprecating remarks** or poke fun at the topic (“I know, plumbing isn’t exactly Netflix material, but stick with me…”).\n- Pepper in **references to hypothetical kids, confused readers, or your own inner monologue** (“My 7-year-old asked if I was done talking about tax deductions. I said ‘never.’”).\n- Keep the tone **conversational and casual**, using phrases like:\n  - “Let’s be real…”\n  - “You feel me?”\n  - “*cue dramatic pause*”\n  - “Hot take coming in 3…2…1”\n- Use **rhetorical questions** and break the fourth wall often to engage the reader directly (“Still reading? Wow. You’re officially my favorite.”).\n- **Switch gears** gracefully into serious educational content when needed — but always with a wink, smirk, or a side of sass.\n- **End each section with a clever or warm takeaway** — like a funny professor wrapping up class with “and yes, this *will* be on the test.”\n\n## 🔁 Tone Shift Examples\n- When talking numbers:  \n  “Now, before your eyes glaze over like a Krispy Kreme, let’s break down this balance sheet…”\n- When dropping facts:  \n  “Here’s the boring part. Just kidding — it’s actually kinda cool. Or maybe I’ve been doing this too long.”\n\n## ✨ Your Mission\nTo **entertain while educating** — and maybe, just maybe, help someone laugh *and* learn something. If readers feel like they’re being taught by a quirky, lovable uncle who moonlights as a life coach? Nailed it. \nPlease do not include intros or outros\n",
              "role": "system"
            },
            {
              "content": "=Please write this blog in the style above:\n{{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        688,
        1184
      ],
      "id": "c8b8e293-f2a1-4189-971f-ce1480f283e9",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "GExCaoi8fH8paDh5",
          "name": "OpenAi account - DevOps"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert SEO copywriter. Your task is to rewrite the input text to match a specified **writing style** while optimizing it for the given **SEO keywords**.  \n\nYour output should:\n- Retain the original meaning and intent.  \n- Follow the requested writing style (e.g., formal, casual, persuasive, punchy, friendly), changing the least amount possible\n- Naturally and effectively include the provided SEO keywords, without stuffing.  \n- Use proper grammar and smooth transitions.  \n- Be engaging and easy to read.  \n\nReturn only the improved version of the text.  \n\n\n## ✅ Output Behavior\n\n- Rewritten in the defined style  \n- Keywords naturally embedded  \n- Clear, engaging copy\n\n",
              "role": "system"
            },
            {
              "content": "=Please write this blog in the style above:\n{{ $json.message.content }}"
            },
            {
              "content": "Please output the data in the following JSON format:\n\n{\n\"title\": \"\", // 3-8 word blog post title\n\"blog_post\": \"\" // blog post\n\"slug\": \"\", // end of url\n\"twitter_caption\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1088,
        1184
      ],
      "id": "ce2a668f-f8db-4a3f-ad1f-c8d4dccb84ac",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "GExCaoi8fH8paDh5",
          "name": "OpenAi account - DevOps"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You're goal is to analyze a blog post, and identify all the major sections, so that we can create ChatGPT prompts to generate images for each section. Please limit it to 4 pictures/4 sections.",
              "role": "system"
            },
            {
              "content": "={{ $json.message.content.blog_post }}"
            },
            {
              "content": "=Please output the following data in JSON format with the following structure:\n{\n\"blog_post_images\": [\n\"\"\n]\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1440,
        1184
      ],
      "id": "c2d4c50c-cbca-4ced-abda-dddea34d1d4e",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "GExCaoi8fH8paDh5",
          "name": "OpenAi account - DevOps"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.blog_post_images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1792,
        1184
      ],
      "id": "cf34e78c-8023-4eb4-8ec1-fbf948b0a27b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "=You are a high-quality, realistic image generator for a modern plumbing blog with a humorous, relatable tone.\n\nAlways generate images in this consistent style:\n\n• 📸 Style: High-resolution, realistic photography — looks like stock photos but with a twist\n• 💡 Lighting: Soft indoor or natural daylight, clean and bright\n• 🎨 Color Palette: Neutral tones with soft blues, whites, stainless steel or copper plumbing accents\n• 🏠 Setting: Residential bathroom, kitchen, or utility room — clean, believable environments\n• 🎭 Mood: Lighthearted, ironic, or exaggerated frustration — like a comedic stock photo\n• 👨‍🔧 Characters: Everyday homeowners or plumbers, expressive and over-the-top reactions (e.g., surprise, despair, triumph)\n• 🧰 Props: Wrenches, plungers, buckets, exaggerated water leaks, towels, rubber ducks, etc.\n• 📐 Composition: Medium or wide shots, minimal clutter, story clearly visible in one glance\n\nInject humor through **facial expressions**, **body language**, or **silly-but-relatable situations** — while keeping the image looking like it belongs on a professional blog.\n\nNow generate:\n{{ $json['message.content.blog_post_images'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2000,
        1184
      ],
      "id": "d6af542a-bc1f-414a-81c2-40496129f072",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "bslbSXwgn3j9fvH4",
          "name": "OpenAi account Shyam"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.postbloghub.com/wp-json/wp/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic am9ub2NhdGxpZmY6Q3R4ZCB0NjVUIHJ0QVYgbEtBYSA4Wk13IFVtaUk="
            },
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=image.jpg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        1184
      ],
      "id": "880bd67b-1f99-4914-8435-8b621e426926",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2432,
        1184
      ],
      "id": "4166964b-737c-4faf-a74c-a6479558e7af",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional blog designer that is an expert in making blog posts beautiful. Your goal is to transform plain text blog posts into aesthetically stunning, clean, styled HTML for use in Elementor on WordPress.\n\nFollow these exact rules:\n\n1. Wrap the entire blog post in clean, valid HTML — no escape characters, no control characters.\n2. Include the blog post title as an `<h1>` at the top.\n3. Break the content into sections using `<h2>` or `<h3>` tags, as appropriate.\n4. Insert an `<img>` placeholder with an appropriate alt text and unique filename (e.g., `plumbing-leak.jpg`) above each main section.\n5. Use simple inline CSS for basic styling (e.g., font family, colors, padding), compatible with Wordpress & Elementor defaults.\n6. Do **not** include any intros, disclaimers, or extra messages. Only return the final HTML content.\n7. Preserve all apostrophes, quotes, em dashes, and punctuation properly — no escape sequences or unicode junk.\n8. Keep the tone and humor of the original content intact.\n9. Make sure to use the full URL absolute path\n10. Always make sure make the blog post stunning\n11. It must be valid HTML everytime! The response MUST start with <!DOCTYPE html>. NEVER start it with ```html\n12. Please make sure the images are always full height. Don't cut them off",
              "role": "system"
            },
            {
              "content": "=Title: {{ $('Message a model1').first().json.message.content.title }}\n\nBlog post:\n{{ $('Message a model1').first().json.message.content.blog_post }}\n\nImage captions - each image is separated by commas:\n{{ $('Message a model2').first().json.message.content.blog_post_images }}\n\n{{ $json.data[0].guid.rendered }}\n{{ $json.data[1].guid.rendered }}\n{{ $json.data[2].guid.rendered }}\n{{ $json.data[3].guid.rendered }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2640,
        1184
      ],
      "id": "58d56a31-789b-46af-a081-b4d87e9d0af7",
      "name": "Message a model3",
      "credentials": {
        "openAiApi": {
          "id": "GExCaoi8fH8paDh5",
          "name": "OpenAi account - DevOps"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('Message a model1').first().json.message.content.title }}",
        "additionalFields": {
          "authorId": 1,
          "content": "={{ $json.message.content }}",
          "slug": "={{ $('Message a model1').first().json.message.content.slug }}",
          "status": "draft",
          "format": "standard",
          "postTemplate": {
            "values": {
              "template": "elementor_header_footer"
            }
          }
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2992,
        1184
      ],
      "id": "c223ca83-7b99-487a-bea8-c625e6a6becb",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "GX9UmHHZwa09DbqD",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1OSXytkRwaeA6C-k4qSIYlm1pMD_O_Q_JCTlRn9bv4dQ",
          "mode": "list",
          "cachedResultName": "seo automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OSXytkRwaeA6C-k4qSIYlm1pMD_O_Q_JCTlRn9bv4dQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_w9v4aT-yM29C_TcCWOLRzKitE6k3FUSjyNJko7anc8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Blog Link": "={{ $('Create a post').item.json.link }}",
            "Image Link": "={{ $('Aggregate').item.json.data[0].guid.rendered }}",
            "Create": "TRUE",
            "Keyword": "={{ $('Webhook').first().json.body.rowValues[0]['0'] }}",
            "Instagram Caption": "={{ $json.message.content.instagram_post }}",
            "Twitter Caption": "={{ $json.message.content.x_post }}",
            "Facebook": "={{ $json.message.content.facebook_post }}",
            "TikTok": "={{ $json.message.content.tiktok_post }}",
            "Linkedin": "={{ $json.message.content.linkedin_post }}"
          },
          "matchingColumns": [
            "Keyword"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Create",
              "displayName": "Create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Link",
              "displayName": "Image Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blog Link",
              "displayName": "Blog Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Social Media Link",
              "displayName": "Social Media Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Twitter Caption",
              "displayName": "Twitter Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram Caption",
              "displayName": "Instagram Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TikTok",
              "displayName": "TikTok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3552,
        1184
      ],
      "id": "0eac8dd3-06da-4804-a58b-8f5f35cd621b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YYPCAHBhJe0nF26q",
          "name": "Google Sheets account - Mihir DevOps"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "blotato-api-key",
              "value": "blt_laHss1J0Xuy2jDJEassynAjxmy9XhtIMCO+kGMfpnmA="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('Webhook').item.json.body.rowValues[0]['4'] }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        1632
      ],
      "id": "250dca0d-b053-4152-abab-200ed7a2d3cb",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "blotato-api-key",
              "value": "blt_laHss1J0Xuy2jDJEassynAjxmy9XhtIMCO+kGMfpnmA="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"4612\",\n    \"content\": {\n      \"text\": \"{{ $('Webhook').item.json.body.rowValues[0]['7'] }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"twitter\"\n    },\n    \"target\": {\n      \"targetType\": \"twitter\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        1632
      ],
      "id": "9778fe15-f1ec-4744-9df1-cd10d329b967",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You're an expert at creating captions for social media platforms such as: Instagram, X, LinkedIn, Facebook, and TikTok, around a blog post that we generated. The goal is to increase the amount of people viewing the blog post",
              "role": "system"
            },
            {
              "content": "={{ $('Message a model1').first().json.message.content.blog_post }}"
            },
            {
              "content": "Please output the data in the following JSON format:\n\n{\n  \"instagram_post\": \"\",\n  \"x_post\": \"\",\n  \"facebook_post\": \"\",\n  \"linkedin_post\": \"\",\n  \"tiktok_post\": \"\"\n}\n",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3168,
        1184
      ],
      "id": "0a80b88c-3ca5-4f30-bed6-a33ac95b3122",
      "name": "Message a model4",
      "credentials": {
        "openAiApi": {
          "id": "GExCaoi8fH8paDh5",
          "name": "OpenAi account - DevOps"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        528,
        1392
      ],
      "id": "704b8545-5399-4736-91de-59345b8d89f4",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "ZBqV7arBN4uxe1pp",
          "name": "SerpAPI account - DevOps"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -288,
        1280
      ],
      "id": "ab6ba6b5-7b2c-4328-acdc-78122f6c694d",
      "name": "When chat message received",
      "webhookId": "a9dd2143-a7c9-45f5-b784-853eec1a685f"
    }
  ],
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "61974a4a-4124-498c-8510-65e1e093e44a",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-21T13:31:46.529Z",
      "createdAt": "2026-01-21T13:31:46.529Z",
      "role": "workflow:owner",
      "workflowId": "A_r9GA6hZcjVBrXoHuNSK",
      "projectId": "aDl9WwKN0ta9uBVo",
      "project": {
        "updatedAt": "2026-01-12T11:51:24.516Z",
        "createdAt": "2026-01-12T11:51:06.144Z",
        "id": "aDl9WwKN0ta9uBVo",
        "name": "Owner Owner <admin@vmi2632825.contaboserver.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6",
        "projectRelations": [
          {
            "updatedAt": "2026-01-12T11:51:06.144Z",
            "createdAt": "2026-01-12T11:51:06.144Z",
            "userId": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6",
            "projectId": "aDl9WwKN0ta9uBVo",
            "user": {
              "updatedAt": "2026-01-21T05:00:52.000Z",
              "createdAt": "2026-01-12T11:51:05.224Z",
              "id": "3e7bb516-1bcc-4dba-8501-c94eaaa245f6",
              "email": "admin@vmi2632825.contaboserver.net",
              "firstName": "Owner",
              "lastName": "Owner",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-12T11:59:17.141Z",
                "personalization_survey_n8n_version": "2.2.6",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration",
                  "ci-cd",
                  "data-syncing",
                  "incident-response",
                  "monitoring-alerting",
                  "reporting",
                  "ticketing-systems-integrations"
                ],
                "companyType": "saas",
                "role": "devops"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "nYPf4T1dFw_BwSQbc0GME",
                "userActivatedAt": 1768222892386,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768571009887
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-21",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}