gamma ai generation from article
{
  "updatedAt": "2026-01-13T10:22:54.785Z",
  "createdAt": "2026-01-12T12:48:47.927Z",
  "id": "-jaXameIlJuKzj3Xp1Fka",
  "name": "gamma ai generation from article",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -160,
        560
      ],
      "id": "7ed4bbaf-7a4a-4c0f-bf6b-47f0bd393989",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cbcf8ab-8ca0-4195-bf5f-7c37eba7f4b3",
              "name": "blog",
              "value": "={{ $json.blog_article }}",
              "type": "string"
            },
            {
              "id": "08d4082c-a024-4725-ba19-eb3a9f4c888e",
              "name": "Id",
              "value": "={{ $json._id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        560
      ],
      "id": "46b830f4-a578-4fdc-8d7e-b01a1437b68a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "collection": "blog",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -544,
        560
      ],
      "id": "d765c0a2-bb84-4e7f-aee0-d47675ec4824",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "7PCYd7vf6Mj7OQhJ",
          "name": "MongoDB account Shyam"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -752,
        560
      ],
      "id": "2c90d784-75fd-4851-acc0-a7f172af79ea",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.blog }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        80,
        832
      ],
      "id": "dc750b44-bf64-427c-adff-a491d30a62b0",
      "name": "Markdown"
    },
    {
      "parameters": {
        "sendTo": "jatin@ninegravity.com, nik.airtoniq@gmail.com,mihir@ninegravity.com",
        "subject": "=AI content {{ $now.format(\"HH:mm -> dd-MM-yyyy\") }}\n",
        "message": "={{ $json.data }}",
        "options": {
          "appendAttribution": false,
          "ccList": "shyam@ninegravity.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        304,
        832
      ],
      "id": "7a609537-134b-46f4-8c38-3ecc988321c4",
      "name": "Send a message",
      "webhookId": "406b4a3a-2dbf-4016-ab12-32e00065f843",
      "credentials": {
        "gmailOAuth2": {
          "id": "LK57ok8sJ95Xx2SA",
          "name": "Gmail account Shyam"
        }
      }
    },
    {
      "parameters": {
        "collection": "blog",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -416,
        896
      ],
      "id": "972f0cbf-480d-41c3-abfb-5ec36c7468f0",
      "name": "Find documents1",
      "credentials": {
        "mongoDb": {
          "id": "7PCYd7vf6Mj7OQhJ",
          "name": "MongoDB account Shyam"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "blog",
        "query": "={ \"$expr\": { \"$eq\": [\"$_id\", { \"$toObjectId\": \"{{$json[\"_id\"]}}\" }] } }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -224,
        896
      ],
      "id": "171487c4-a548-4385-8d75-bb9100b66571",
      "name": "Delete documents",
      "credentials": {
        "mongoDb": {
          "id": "7PCYd7vf6Mj7OQhJ",
          "name": "MongoDB account Shyam"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        896
      ],
      "id": "c932ba4c-ee07-41d3-8989-0a0b08ec1094",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "blog",
        "query": "={ \"$expr\": { \"$eq\": [\"$_id\", { \"$toObjectId\": \"{{ $json._id }}\" }] } }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        704,
        560
      ],
      "id": "ab210ee6-5f8a-41fe-9dc5-c2cdf41523a9",
      "name": "Delete documents1",
      "credentials": {
        "mongoDb": {
          "id": "7PCYd7vf6Mj7OQhJ",
          "name": "MongoDB account Shyam"
        }
      }
    },
    {
      "parameters": {
        "collection": "blog",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        272,
        560
      ],
      "id": "acfd0909-1b22-4246-8c07-7c90ebf0a062",
      "name": "Find documents2",
      "credentials": {
        "mongoDb": {
          "id": "7PCYd7vf6Mj7OQhJ",
          "name": "MongoDB account Shyam"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        560
      ],
      "id": "9185df71-c46f-4ce7-b449-ce2dbc9eed82",
      "name": "Limit1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://public-api.gamma.app/v0.2/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputText",
              "value": "={{ $json.blog }}"
            },
            {
              "name": "textMode",
              "value": "generate"
            },
            {
              "name": "format",
              "value": "social"
            },
            {
              "name": "themeName",
              "value": "Shyam (copy)"
            },
            {
              "name": "numCards",
              "value": "={{ 6 }}"
            },
            {
              "name": "cardSplit",
              "value": "auto"
            },
            {
              "name": "additionalInstructions",
              "value": "Make the titles catchy, Don't include Emojis"
            },
            {
              "name": "exportAs",
              "value": "pdf"
            },
            {
              "name": "textOptions.amount",
              "value": "medium"
            },
            {
              "name": "textOptions.tone",
              "value": "Persuasive, Confident, Urgent, Transformational, Consultative"
            },
            {
              "name": "textOptions.language",
              "value": "en"
            },
            {
              "name": "imageOptions.source",
              "value": "aiGenerated"
            },
            {
              "name": "imageOptions.style",
              "value": "=Futuristic line art with a minimalist, bold design. Geometric shapes and flowing lines form a sleek, high-tech aesthetic. Preferred palette: #F27AA7 and #F0BDD1, with complementary shades for depth and glow. Striking, modern, and neon-inspired, using negative space to enhance a digital, circuitry-like appearance."
            },
            {
              "name": "cardOptions.dimensions",
              "value": "4x5"
            },
            {
              "name": "sharingOptions.workspaceAccess",
              "value": "view"
            },
            {
              "name": "sharingOptions.externalAccess",
              "value": "noAccess"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        560
      ],
      "id": "b06b7462-d581-49f9-8455-bd18e48f0dd2",
      "name": "HTTP Request",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qCdV8CBOXK8VD9VZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://public-api.gamma.app/v0.2/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "sk-gamma-BYl91uNYJcvSpO5KRmMSP1GW1AFR80NP9Vln1soDnY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputText",
              "value": "={{ $json.blog }}"
            },
            {
              "name": "textMode",
              "value": "generate"
            },
            {
              "name": "format",
              "value": "social"
            },
            {
              "name": "themeName",
              "value": "Shyam (copy)"
            },
            {
              "name": "numCards",
              "value": "={{ 6 }}"
            },
            {
              "name": "cardSplit",
              "value": "auto"
            },
            {
              "name": "additionalInstructions",
              "value": "Make the titles catchy, Don't include Emojis"
            },
            {
              "name": "exportAs",
              "value": "pdf"
            },
            {
              "name": "textOptions.amount",
              "value": "medium"
            },
            {
              "name": "textOptions.tone",
              "value": "Persuasive, Confident, Urgent, Transformational, Consultative"
            },
            {
              "name": "textOptions.audience",
              "value": "Digital Marketing Teams , Wordpress Agencies"
            },
            {
              "name": "textOptions.language",
              "value": "en"
            },
            {
              "name": "imageOptions.source",
              "value": "aiGenerated"
            },
            {
              "name": "imageOptions.style",
              "value": "=Futuristic line art with a minimalist, bold design. Geometric shapes and flowing lines form a sleek, high-tech aesthetic. Preferred palette: #F27AA7 and #F0BDD1, with complementary shades for depth and glow. Striking, modern, and neon-inspired, using negative space to enhance a digital, circuitry-like appearance."
            },
            {
              "name": "cardOptions.dimensions",
              "value": "4x5"
            },
            {
              "name": "sharingOptions.workspaceAccess",
              "value": "view"
            },
            {
              "name": "sharingOptions.externalAccess",
              "value": "noAccess"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "d78a8303-ecce-4538-bea0-768853611412",
      "name": "HTTP Request1",
      "executeOnce": true,
      "retryOnFail": true,
      "disabled": true
    }
  ],
  "connections": {
    "Limit": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents1": {
      "main": [
        [
          {
            "node": "Delete documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents2": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Delete documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Find documents2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "48467495-7d56-43b2-ad8f-f81ada6dd1c3",
  "activeVersionId": "48467495-7d56-43b2-ad8f-f81ada6dd1c3",
  "versionCounter": 11,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-12T12:48:47.931Z",
      "createdAt": "2026-01-12T12:48:47.931Z",
      "role": "workflow:owner",
      "workflowId": "-jaXameIlJuKzj3Xp1Fka",
      "projectId": "CFdHyYwi8HDKofY6",
      "project": {
        "updatedAt": "2026-01-12T12:21:32.805Z",
        "createdAt": "2026-01-12T12:20:00.564Z",
        "id": "CFdHyYwi8HDKofY6",
        "name": "Shyam Patel <shyam@ninegravity.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d30c8400-95ef-4036-8d81-fbf600089fb5",
        "projectRelations": [
          {
            "updatedAt": "2026-01-12T12:20:00.571Z",
            "createdAt": "2026-01-12T12:20:00.571Z",
            "userId": "d30c8400-95ef-4036-8d81-fbf600089fb5",
            "projectId": "CFdHyYwi8HDKofY6",
            "user": {
              "updatedAt": "2026-01-20T04:52:51.000Z",
              "createdAt": "2026-01-12T12:20:00.540Z",
              "id": "d30c8400-95ef-4036-8d81-fbf600089fb5",
              "email": "shyam@ninegravity.com",
              "firstName": "Shyam",
              "lastName": "Patel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-12T12:21:48.104Z",
                "personalization_survey_n8n_version": "2.2.6",
                "companyType": "personal",
                "reportedSource": "friend"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "iRGT9Oc6gUnKyubocqc3N",
                "userActivated": true,
                "userActivatedAt": 1768222886305,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768719088345
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-13T08:57:24.000Z",
    "createdAt": "2026-01-12T12:49:48.017Z",
    "versionId": "48467495-7d56-43b2-ad8f-f81ada6dd1c3",
    "workflowId": "-jaXameIlJuKzj3Xp1Fka",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -160,
          560
        ],
        "id": "7ed4bbaf-7a4a-4c0f-bf6b-47f0bd393989",
        "name": "Limit"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cbcf8ab-8ca0-4195-bf5f-7c37eba7f4b3",
                "name": "blog",
                "value": "={{ $json.blog_article }}",
                "type": "string"
              },
              {
                "id": "08d4082c-a024-4725-ba19-eb3a9f4c888e",
                "name": "Id",
                "value": "={{ $json._id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -352,
          560
        ],
        "id": "46b830f4-a578-4fdc-8d7e-b01a1437b68a",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "collection": "blog",
          "options": {}
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.2,
        "position": [
          -544,
          560
        ],
        "id": "d765c0a2-bb84-4e7f-aee0-d47675ec4824",
        "name": "Find documents",
        "credentials": {
          "mongoDb": {
            "id": "7PCYd7vf6Mj7OQhJ",
            "name": "MongoDB account Shyam"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -752,
          560
        ],
        "id": "2c90d784-75fd-4851-acc0-a7f172af79ea",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "mode": "markdownToHtml",
          "markdown": "={{ $json.blog }}",
          "options": {}
        },
        "type": "n8n-nodes-base.markdown",
        "typeVersion": 1,
        "position": [
          80,
          832
        ],
        "id": "dc750b44-bf64-427c-adff-a491d30a62b0",
        "name": "Markdown"
      },
      {
        "parameters": {
          "sendTo": "jatin@ninegravity.com, nik.airtoniq@gmail.com,mihir@ninegravity.com",
          "subject": "=AI content {{ $now.format(\"HH:mm -> dd-MM-yyyy\") }}\n",
          "message": "={{ $json.data }}",
          "options": {
            "appendAttribution": false,
            "ccList": "shyam@ninegravity.com"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          304,
          832
        ],
        "id": "7a609537-134b-46f4-8c38-3ecc988321c4",
        "name": "Send a message",
        "webhookId": "406b4a3a-2dbf-4016-ab12-32e00065f843",
        "credentials": {
          "gmailOAuth2": {
            "id": "LK57ok8sJ95Xx2SA",
            "name": "Gmail account Shyam"
          }
        }
      },
      {
        "parameters": {
          "collection": "blog",
          "options": {}
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.2,
        "position": [
          -416,
          896
        ],
        "id": "972f0cbf-480d-41c3-abfb-5ec36c7468f0",
        "name": "Find documents1",
        "credentials": {
          "mongoDb": {
            "id": "7PCYd7vf6Mj7OQhJ",
            "name": "MongoDB account Shyam"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "operation": "delete",
          "collection": "blog",
          "query": "={ \"$expr\": { \"$eq\": [\"$_id\", { \"$toObjectId\": \"{{$json[\"_id\"]}}\" }] } }"
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.2,
        "position": [
          -224,
          896
        ],
        "id": "171487c4-a548-4385-8d75-bb9100b66571",
        "name": "Delete documents",
        "credentials": {
          "mongoDb": {
            "id": "7PCYd7vf6Mj7OQhJ",
            "name": "MongoDB account Shyam"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 23
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -624,
          896
        ],
        "id": "c932ba4c-ee07-41d3-8989-0a0b08ec1094",
        "name": "Schedule Trigger",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "delete",
          "collection": "blog",
          "query": "={ \"$expr\": { \"$eq\": [\"$_id\", { \"$toObjectId\": \"{{ $json._id }}\" }] } }"
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.2,
        "position": [
          704,
          560
        ],
        "id": "ab210ee6-5f8a-41fe-9dc5-c2cdf41523a9",
        "name": "Delete documents1",
        "credentials": {
          "mongoDb": {
            "id": "7PCYd7vf6Mj7OQhJ",
            "name": "MongoDB account Shyam"
          }
        }
      },
      {
        "parameters": {
          "collection": "blog",
          "options": {}
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.2,
        "position": [
          272,
          560
        ],
        "id": "acfd0909-1b22-4246-8c07-7c90ebf0a062",
        "name": "Find documents2",
        "credentials": {
          "mongoDb": {
            "id": "7PCYd7vf6Mj7OQhJ",
            "name": "MongoDB account Shyam"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          480,
          560
        ],
        "id": "9185df71-c46f-4ce7-b449-ce2dbc9eed82",
        "name": "Limit1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://public-api.gamma.app/v0.2/generations",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "inputText",
                "value": "={{ $json.blog }}"
              },
              {
                "name": "textMode",
                "value": "generate"
              },
              {
                "name": "format",
                "value": "social"
              },
              {
                "name": "themeName",
                "value": "Shyam (copy)"
              },
              {
                "name": "numCards",
                "value": "={{ 6 }}"
              },
              {
                "name": "cardSplit",
                "value": "auto"
              },
              {
                "name": "additionalInstructions",
                "value": "Make the titles catchy, Don't include Emojis"
              },
              {
                "name": "exportAs",
                "value": "pdf"
              },
              {
                "name": "textOptions.amount",
                "value": "medium"
              },
              {
                "name": "textOptions.tone",
                "value": "Persuasive, Confident, Urgent, Transformational, Consultative"
              },
              {
                "name": "textOptions.language",
                "value": "en"
              },
              {
                "name": "imageOptions.source",
                "value": "aiGenerated"
              },
              {
                "name": "imageOptions.style",
                "value": "=Futuristic line art with a minimalist, bold design. Geometric shapes and flowing lines form a sleek, high-tech aesthetic. Preferred palette: #F27AA7 and #F0BDD1, with complementary shades for depth and glow. Striking, modern, and neon-inspired, using negative space to enhance a digital, circuitry-like appearance."
              },
              {
                "name": "cardOptions.dimensions",
                "value": "4x5"
              },
              {
                "name": "sharingOptions.workspaceAccess",
                "value": "view"
              },
              {
                "name": "sharingOptions.externalAccess",
                "value": "noAccess"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          64,
          560
        ],
        "id": "b06b7462-d581-49f9-8455-bd18e48f0dd2",
        "name": "HTTP Request",
        "executeOnce": true,
        "retryOnFail": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "qCdV8CBOXK8VD9VZ",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://public-api.gamma.app/v0.2/generations",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-KEY",
                "value": "sk-gamma-BYl91uNYJcvSpO5KRmMSP1GW1AFR80NP9Vln1soDnY"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "inputText",
                "value": "={{ $json.blog }}"
              },
              {
                "name": "textMode",
                "value": "generate"
              },
              {
                "name": "format",
                "value": "social"
              },
              {
                "name": "themeName",
                "value": "Shyam (copy)"
              },
              {
                "name": "numCards",
                "value": "={{ 6 }}"
              },
              {
                "name": "cardSplit",
                "value": "auto"
              },
              {
                "name": "additionalInstructions",
                "value": "Make the titles catchy, Don't include Emojis"
              },
              {
                "name": "exportAs",
                "value": "pdf"
              },
              {
                "name": "textOptions.amount",
                "value": "medium"
              },
              {
                "name": "textOptions.tone",
                "value": "Persuasive, Confident, Urgent, Transformational, Consultative"
              },
              {
                "name": "textOptions.audience",
                "value": "Digital Marketing Teams , Wordpress Agencies"
              },
              {
                "name": "textOptions.language",
                "value": "en"
              },
              {
                "name": "imageOptions.source",
                "value": "aiGenerated"
              },
              {
                "name": "imageOptions.style",
                "value": "=Futuristic line art with a minimalist, bold design. Geometric shapes and flowing lines form a sleek, high-tech aesthetic. Preferred palette: #F27AA7 and #F0BDD1, with complementary shades for depth and glow. Striking, modern, and neon-inspired, using negative space to enhance a digital, circuitry-like appearance."
              },
              {
                "name": "cardOptions.dimensions",
                "value": "4x5"
              },
              {
                "name": "sharingOptions.workspaceAccess",
                "value": "view"
              },
              {
                "name": "sharingOptions.externalAccess",
                "value": "noAccess"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          0
        ],
        "id": "d78a8303-ecce-4538-bea0-768853611412",
        "name": "HTTP Request1",
        "executeOnce": true,
        "retryOnFail": true,
        "disabled": true
      }
    ],
    "connections": {
      "Limit": {
        "main": [
          [
            {
              "node": "Markdown",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find documents": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Find documents",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Markdown": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find documents1": {
        "main": [
          [
            {
              "node": "Delete documents",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Find documents1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find documents2": {
        "main": [
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit1": {
        "main": [
          [
            {
              "node": "Delete documents1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Find documents2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Shyam Patel",
    "name": "v0",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-13T08:57:24.296Z",
        "id": 7,
        "workflowId": "-jaXameIlJuKzj3Xp1Fka",
        "versionId": "48467495-7d56-43b2-ad8f-f81ada6dd1c3",
        "event": "activated",
        "userId": "d30c8400-95ef-4036-8d81-fbf600089fb5"
      },
      {
        "createdAt": "2026-01-13T10:22:54.934Z",
        "id": 8,
        "workflowId": "-jaXameIlJuKzj3Xp1Fka",
        "versionId": "48467495-7d56-43b2-ad8f-f81ada6dd1c3",
        "event": "activated",
        "userId": "d30c8400-95ef-4036-8d81-fbf600089fb5"
      }
    ]
  }
}